继续利用上述`basic_info.xlsx`数据，建立一个新的ipynb文件（完整学号-姓名-行列基本操作练习.ipynb），完成以下练习。

**练习1：基础操作**

从数据框 `df` 中选择 `股票代码` 和 `股票简称` 两列，并保存到变量 `selected_columns`。然后选择 `股票代码` 为 `000002` 的行，并仅显示 `公司成立日期` 和 `注册资本` 两列，保存到变量 `selected_row`。打印 `selected_columns` 的前5行和 `selected_row`。

In [38]:
import pandas as pd
import numpy as np


df = pd.read_excel(
    "data/basic_info.xlsx",
    converters={
        "股票代码": str,
        "公司成立日期": pd.to_datetime,
        "首次上市日期": pd.to_datetime,
    },
)

df.head()

     股票代码   股票简称     公司成立日期         注册资本     首次上市日期 所属省份 所属城市  上市状态
0  000001   平安银行 1987-12-22  19405918198 1991-04-03  广东省  深圳市  正常上市
1  000002    万科A 1988-11-01  11625383375 1991-01-29  广东省  深圳市  正常上市
2  000004   国华网安 1986-05-05    156003000 1991-01-14  广东省  深圳市    ST
3  000005  ST 星源 1990-02-01   1058536842 1990-12-10  广东省  深圳市    ST
4  000006   深振业A 1989-04-01   1349995046 1992-04-27  广东省  深圳市  正常上市

In [39]:
# 答案1：基础操作
selected_columns = df[["股票代码", "股票简称"]]
selected_row = df.loc[df["股票代码"] == "000002", ["公司成立日期", "注册资本"]]

print(selected_columns.head())
selected_row

     股票代码   股票简称
0  000001   平安银行
1  000002    万科A
2  000004   国华网安
3  000005  ST 星源
4  000006   深振业A

      公司成立日期         注册资本
1 1988-11-01  11625383375

**练习2：列运算与删除列**

在 `df` 中添加一个新列 `注册资本（亿）`，其值为 `注册资本` 列的值除以 10^8，然后删除 `注册资本` 列。保存修改后的数据框到变量 `df_modified`，并打印前5行。

In [40]:
# 答案2：列运算与删除列
df["注册资本（亿）"] = df["注册资本"] / 10**8
df_modified = df.drop(columns="注册资本")

df_modified.head()

     股票代码   股票简称     公司成立日期     首次上市日期 所属省份 所属城市  上市状态     注册资本（亿）
0  000001   平安银行 1987-12-22 1991-04-03  广东省  深圳市  正常上市  194.059182
1  000002    万科A 1988-11-01 1991-01-29  广东省  深圳市  正常上市  116.253834
2  000004   国华网安 1986-05-05 1991-01-14  广东省  深圳市    ST    1.560030
3  000005  ST 星源 1990-02-01 1990-12-10  广东省  深圳市    ST   10.585368
4  000006   深振业A 1989-04-01 1992-04-27  广东省  深圳市  正常上市   13.499950

**练习3：按条件筛选与排序**

筛选出 `所属省份` 为 `广东省` 且 `上市状态` 为 `正常上市` 的所有行，并按 `公司成立日期` 降序排列。将结果保存到变量 `sorted_df`，并打印 `sorted_df`的前五行。

In [41]:
# 答案3：按条件筛选与排序
sorted_df = df[
    (df["所属省份"] == "广东省") & (df["上市状态"] == "正常上市")
].sort_values(by="公司成立日期", ascending=False)

sorted_df.head()

      股票代码  股票简称     公司成立日期        注册资本     首次上市日期 所属省份 所属城市  上市状态    注册资本（亿）
37  000049  德赛电池 1995-02-18   300298970 1995-03-20  广东省  深圳市  正常上市   3.002990
36  000048  京基智农 1994-09-17   523239250 1994-11-01  广东省  深圳市  正常上市   5.232392
33  000042  中洲控股 1994-09-13   664831139 1994-09-21  广东省  深圳市  正常上市   6.648311
34  000045  深纺织A 1994-08-06   506521849 1994-08-15  广东省  深圳市  正常上市   5.065218
32  000040  东旭蓝天 1994-06-15  1486873870 1994-08-08  广东省  深圳市  正常上市  14.868739



**练习4：复合条件筛选与字符串方法**

筛选出 `公司成立日期` 在 `1990年` 之前且 `股票简称` 包含 `A` 字符的所有行，并创建一个新列 `成立年份`，其值为 `公司成立日期` 的年份。将结果保存到变量 `filtered_df`，并打印 `filtered_df`的前五行。

In [42]:
# 答案4：复合条件筛选与字符串方法
filtered_df = df[
    (df["公司成立日期"] < "1990-01-01") & (df["股票简称"].str.contains("A"))
].copy()  # 明确地进行copy

filtered_df.loc[:, "成立年份"] = filtered_df["公司成立日期"].dt.year

filtered_df.head()

,股票代码,股票简称,公司成立日期,注册资本,首次上市日期,所属省份,所属城市,上市状态,注册资本（亿）,成立年份
1,000002,万科A,1988-11-01,11625383375,1991-01-29,广东省,深圳市,正常上市,116.253834,1988
4,000006,深振业A,1989-04-01,1349995046,1992-04-27,广东省,深圳市,正常上市,13.499950,1989
9,000011,深物业A,1983-01-17,595979092,1992-03-30,广东省,深圳市,正常上市,5.959791,1983
10,000012,南玻A,1984-09-10,3070692107,1992-02-28,广东省,深圳市,正常上市,30.706921,1984
12,000016,深康佳A,1980-10-01,2407945408,1992-03-27,广东省,深圳市,正常上市,24.079454,1980



**练习5：复杂逻辑判断和后续操作**

将 `首次上市日期` 转换为 `datetime` 格式。筛选出 `首次上市日期` 早于 `1992-01-01` 的公司，并判断这些公司的 `注册资本（亿）` 是否大于 100 亿元。如果大于 100 亿元，则标记为 "大公司"，否则标记为 "小公司"。将这个标记作为新列 `公司规模` 加入数据框。将结果保存到变量 `final_df`，并打印 `final_df`。

In [43]:
# 答案5：复杂逻辑判断和后续操作
df["首次上市日期"] = pd.to_datetime(df["首次上市日期"])
filtered_df = df[df["首次上市日期"] < "1992-01-01"].copy()


def company_size(row):
    if row["注册资本（亿）"] > 100:
        return "大公司"
    else:
        return "小公司"


filtered_df.loc[:, "公司规模"] = filtered_df.apply(company_size, axis=1)
final_df = filtered_df

final_df

,股票代码,股票简称,公司成立日期,注册资本,首次上市日期,所属省份,所属城市,上市状态,注册资本（亿）,公司规模
0,000001,平安银行,1987-12-22,19405918198,1991-04-03,广东省,深圳市,正常上市,194.059182,大公司
1,000002,万科A,1988-11-01,11625383375,1991-01-29,广东省,深圳市,正常上市,116.253834,大公司
2,000004,国华网安,1986-05-05,156003000,1991-01-14,广东省,深圳市,ST,1.560030,小公司
3,000005,ST 星源,1990-02-01,1058536842,1990-12-10,广东省,深圳市,ST,10.585368,小公司
7,000009,中国宝安,1990-09-01,2579213965,1991-06-25,广东省,深圳市,正常上市,25.792140,小公司